.team {
    background-color: $bg-card-color;
}
.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: $primary-bg-color;
}
.card__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - $indent-features * ($items-features-tablet - 1)) / $items-features-tablet);
        gap: $indent-features;
    }    
}
.card__item {    
    padding: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.2),
        0px 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 1px 0px 3px rgba(0, 0, 0, 0.12);

        @media screen and (min-width: 768px) {
                width: 354px;
            }
             // @media screen and (min-width: 1140px) {
        //     flex-basis: calc((100% - $indent-features * ($items-features-dasktop - 1)) / $items-features-dasktop);
        //     }
            @media screen and (max-width: 767px) {
                &:not(:nth-last-child(-n + 1)) {
                    margin-bottom: 30px;
                }
            }
}
/* h3 */
.card__titel {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;

    color: $primary-titel-color;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;    
}

.card__desc {
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}
