.work {
    padding-top: 0;

          @media screen and (max-width: 1200px) {
              display: none;
          }
}
.work__list {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: $indent-features;
    flex-basis: calc((100% - $indent-features * ($items-projekt - 1)) / $items-projekt);
    }

.work__item {
    position: relative;
    max-width: 370px;
}

.work__title {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 3px;
    text-align: center;
    padding: 27px 0px;

    color: $primary-bg-color;
    background-color: $bg-work-color;
        
    font-size: 14px;
    line-height: 1.1;
}